<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app-1">
    <span>{{ foo.bar }}</span>
    <ul>
      <li v-for="item in list" :key="item.name">{{item.name}}</li>
    </ul>

    <dl>
      <template v-for="(ports,domain) in server_ports">
        <dt>{{domain}}</dt>
        <dd v-for="port in ports">{{port}}</dd>
      </template>
      
    </dl>
  </div>
  <script src="vue.js"></script><!-- https://unpkg.com/vue -->
  <script>
    var app = new Vue ({
      el: '#app-1',
      data: {
        foo: {bar:'momo'},
        list: [{
          name: 'zhangshan'
        }, {
          name: 'lishi' 
        }, {
          name: 'wangwu'
        }],
        server_ports: {
          'foo.com':[9988,3423],
          'bar.cn':[5763],
          'ns.net':[7895],
        }
      }
    })
  </script>
</body>
</html>




